* {
    font-family: sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0;
}

#index {
    height: 90vh;
}

.start {
    background-image: url('https://raw.githubusercontent.com/jakob-bren/pp2-coolcats/main/assets/imgs/catbg25.png');
}

#current {
    border-bottom: 1px solid orange;
    background-image: url('https://raw.githubusercontent.com/jakob-bren/pp2-coolcats/main/assets/imgs/catbg25.png');
}

table, td, tr, th {
    border-collapse: collapse;
    align-self: center;
}


th {
    width: 100%;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: #500052;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

tr, td { 
    background-color: #910094;
    color: white;
}
  
.subhead {
    margin-bottom: 0.5rem;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media (pointer:fine) { /* desktop styling, targeting users with a mouse/trackpad */
    @media (max-width: 1023px) { /* smaller screens - main difference is that the background image is hidden on smaller screens/windows */
        section {
            width: 100%;
        }

        footer {
            width: 100%;
            align-items: flex-end;
        }  
    }

    @media (min-width: 1024px) {  /* normal size screens - show BG image */
        footer {                     
            width: 70%;
        }

        section {
            width: 70%;
        }

        body {
            background-image: url('https://raw.githubusercontent.com/jakob-bren/pp2-coolcats/main/assets/imgs/catbg.png');
        }
    }

    #scoreTrack {
        position: absolute;
        text-align: left;
        margin-top: 0.75rem;
        margin-left: 1.5rem;
        margin-bottom: 1rem;
    }

    #contactform {
        border-radius: 5px;
        background-color: #ff8fdf42;
        padding: 1.2rem;
        width: 60%;
        max-height: 32rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 0.5rem;
        margin-left: auto;
        margin-right: auto;
    }

    #contact {
        font-family: Arial, Helvetica, sans-serif;
        width: 90%;
    }

    #contact input[type=submit] {
        width: 4rem;
        height: 1.5rem;
        border: 2px solid rgb(214, 126, 140);
        background-color: white;
    }

    #contact input[type=submit]:hover {
        background-color: rgb(230, 230, 230);
        transition: 0.3s;
    } 

    #contactform p, #contactform input[type=checkbox] {
        margin-bottom: 0.7rem;
    }

    #contactform input[type=checkbox] {
        margin-right: 0.25rem;
    }

    #contact input[type=text], textarea {
        padding: 0.25rem;
        width: 100%;
        margin-bottom: 0.7rem;
        box-sizing: border-box;
        text-align: left;
        border: 1px solid white;
    }

    #contact input[type=text]:hover, textarea:hover, input[type=checkbox]:hover {
        background-color: rgb(247, 247, 247);
        border: 1px solid rgb(180, 180, 180);
        transition: 0.3s;
    }

    #contact textarea {
        min-height: 4rem;
        max-height: 12rem;
        resize: vertical;
    }

    body {
        background-color: pink;  
        margin: 0 !important;
        padding: 0 !important;
    }

    section { 
        padding-bottom: 2rem;
        min-height: 100vh;
        max-height: 160vh;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(248, 226, 230);
        border-left: 2px solid rgba(0, 0, 0, 0.372);
        border-right: 2px solid rgba(0, 0, 0, 0.372);
    }

    footer { 
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #6F444A;
        height: 3rem;
        color: white;
        margin-left: auto;
        margin-right: auto;
        z-index: 1250;
        position: inherit;
        border-left: 2px solid rgba(0, 0, 0, 0.372);
        border-right: 2px solid rgba(0, 0, 0, 0.372);
    }

    .squareImg > img { 
        width: 100%;
        height: 32rem;
        object-fit: cover;
    }
    button {
        font-size: 1.15rem;
        min-width: 5rem;
        height: 2.75rem;
        width: 10rem;
        margin: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        line-height: 1rem;
        text-align: center;
        border: 2px solid #d42aff;
        background-color: rgb(255 255 255);
        color: rgb(83, 83, 83);
        box-shadow: 5px 6px 2px -4px #3c3c3c;
    }

    button:hover {
        background-color: rgb(241 133 206);
        cursor: pointer;
        color: white;
        transition: 500ms;
    }

    #header {
        display: flex;
        align-items: center;
        justify-content: left;
        background-color: #6F444A;
        margin-bottom: 1rem;
    }

    #header > .nav {
        text-decoration: none;
        color: white;
        width: 8%;
        padding: 1rem 1rem;
        text-align: center;
        background-color:#6F444A;
    }


    .nav:hover {
        background-color: #433436;
        transition: 0.5s;
    }

    

    #question {
        position: absolute;
        margin-bottom: 1.5rem;
    }

    #verify {
        height: 3rem;
        position: absolute;
        margin-bottom: 3.5rem;
        margin-top: 35rem;
        color: white;
        width: 100%;
    }

    #verifyDiv, #qDiv {
        align-items: center;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: center;
    }


    #answerList {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    #qImage, #resultsCat {
        max-width: 50vh;
        max-height: 45vh;
    }
    
    table, td, tr, th {
        border: 1px solid black;
        padding: 0.25rem;
    }

    table { 
        max-width: 45vh;
    }
    
    .resultsGeneric input#user {
        width: 12rem;
        height: 1.30rem;
        margin-top: 0.35rem;
    }
}

@media only screen and (max-width: 1921px) {
    @media (pointer:coarse) { /* for mobile/tablet/laptops, targeting users with "coarse" input available i.e a finger on a touchscreen */
        * {
         font-size: 1.15rem;
        }

        html {
            box-sizing: border-box
        }

        body {
            background-color: rgb(248, 226, 230);
            min-width: 100vw;
        }

        section {
            min-height: 100vh;
            min-width: 100vw;
        }

        #header {
            display: flex;
            text-align: left;
            justify-content: left;
            background-color: #6F444A;
            margin-bottom: 1rem; 
        }

        #header > .nav {
            font-size: 1.1rem;
            text-decoration: none;
            color: white;
            width: 33%;
            padding: 0.75rem 1.5rem;
            text-align: center;
            background-color: #6F444A;
        }

        .subhead {
            margin-top: 0.75rem;
        }

        footer { 
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #6F444A;
            width: 100%;
            height: 3rem;
            color: white;
        }

        #question, .resultsGeneric {
            margin-bottom: 0.0rem;
            color: white;
            text-shadow: 1px 1px rgb(188, 188, 188);
            background-color: #903C4A;
            padding: 0.1rem;
        }

        .resultsGeneric > p {
            padding-left: 0.6rem;
            padding-right: 0.6rem;
        }
        
        #hideable {
            display: none;
        }
       
        .squareImg > img { 
            width: 100%;
            min-height: 16rem;
            height: 18rem;
            max-height: 26rem;
            object-fit: cover;
        }

        #scoreTrack {
            background-color: rgb(171, 112, 121);
            color: white;
            margin-top: 0;
        }

        .intro {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            color: rgb(62, 62, 62);
        }

        .intro > button {
            text-align: center;
            border: 2px solid #ff7bf4;
            background-color: rgb(255 255 255);
            width: 50%;
            margin-top: 0.5rem;
            padding: 0.5rem;
            color: rgb(83, 83, 83);
            box-shadow: 5px 6px 2px -4px #3c3c3c;
        }

        .center {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            margin-bottom: 0.25rem;
        }

        #qImage, #resultsCat { 
            max-height: 42.5vh;
        }

        #answerList {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: row;
            flex-shrink: 2;
            max-height: 50vh;
        }

        #verifyDiv {
            display: flex;
            position:absolute;
            z-index: 250;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-top: 11rem;
        }

        #verifyDiv > button {
            align-self: center;
            justify-self: center;
            background-color: rgba(0, 121, 0, 0.826);
            color: white;
            border: 3px solid rgb(255 255 255);
            text-align: center;
            height: 10vh;
            width: 92.4%;
            margin-top: 0rem;
        }
    
        #answerList > button, #next, #submit {
            flex: 2 0 50%;
            text-align: center;
            border: 2px solid #ff7bf4;
            background-color: rgb(255 255 255);
            background-image: url('https://raw.githubusercontent.com/jakob-bren/pp2-coolcats/main/assets/imgs/catbg25.png');
            color: rgb(83, 83, 83);
            box-shadow: 5px 6px 2px -4px #3c3c3c;
        }

        .answerFields {
            font-size: 1.25rem;
            font-weight: 600;
            min-width: 2rem;
            height: 20vh;
            width: 20vh;
            max-width: 45%;
            max-height: 45%;
            margin-left: 0.25rem;
            margin-right: 0.25rem;
            margin-bottom: 0.25rem;
            margin-top: 0.25rem;
            padding-left: 0.25rem;
            padding-right: 0.25rem;
            line-height: 1rem;
            text-align: center;
            border: 2px solid skyblue;
            background-color: rgb(223, 242, 251);
            color: rgb(83, 83, 83);
            text-shadow: 1px 2px rgb(224, 224, 224);
            align-self: center;
        }
        
        #submit {
            margin-bottom: 1rem;
            background-color: rgb(223, 242, 251);
            color: rgb(83, 83, 83);
            width: 70%;
            height: 8vh;
            margin-top: 1rem;
        }

        .resultsGeneric form {
            padding: 0.1rem;
            margin-bottom: 0.5rem;
            align-self: center;
            justify-content: center;
            align-content: center;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            height: 3rem;
            margin-top: 0.7rem;
        }
        .resultsGeneric input#user {
            width: 69%;
            height: 90%;
        }

        table, td, tr, th {
            padding: 0.35rem;
            padding-right: 1.75rem;
        }

        table {
            margin-top: 1rem;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1rem;
            width: 100%;
        }
        
        #next {
            margin-bottom: 1rem;
            background-color: rgb(223, 242, 251);
            color: rgb(83, 83, 83);
            width: 70%;
            height: 8vh;
            margin-top: 1rem;
        }
        
        button:hover {
            background-color: rgb(133, 207, 241);
            cursor: pointer;
            color: black;
            transition: 500ms;
        }

        #contactform {
            border-radius: 5px;
            background-color: #ffd3e5;
            padding: 1.2rem;
            width: 85%;
            min-height: 16rem;
            height: 20rem;
            flex-wrap: wrap;
            justify-content: left;
            margin-top: 0.5rem;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2rem;
          }

        #contact {
            font-family: Arial, Helvetica, sans-serif;
            width: 100%;
        }

        #contact input[type=submit] {
            margin-top: 1rem;
            width: 8rem;
            height: 3rem;
            background-image: url('https://raw.githubusercontent.com/jakob-bren/pp2-coolcats/main/assets/imgs/catbg25.png');
            border: 2px solid rgb(214, 126, 140);
        }

        #contactform p, #contactform input[type=checkbox] {
            margin-bottom: 0.7rem;
        }

        #contactform input[type=checkbox] {
            margin-right: 0.25rem;
            font-size: 1.2rem;
            width: 1rem;
            height: 1rem;
        }

        #contact input[type=text], textarea {
            padding: 0.25rem;
            padding-left: 0.5rem;
            width: 100%;
            margin-bottom: 0.7rem;
            box-sizing: border-box;
            text-align: left;
            border: 1px solid white;
        }

        #contact textarea {
            min-height: 4rem;
            max-height: 12rem;
            resize: vertical;
        }
    }
}